.menu {
    width: 200px;
    padding: 5px;
    margin: 50px;
    background: #F5E095;
    border-radius: 10px;
    border: 1px solid #393836;
    box-shadow: 7px 7px 0 0 #880000;
    list-style: none;
    line-height: 1.5;
}

.menu_item a {
    text-decoration: none;
    color: #880000;
}

    .menu_item a:hover {
        text-decoration: underline;
    }
